body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    height:100vh;
    width:100vw;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background-color: rgb(250, 250, 250);
}

h1{
    margin: 0;
    font-size: 3em
}

button{
    background-color: rgb(43, 43, 43);
    border:None;
    height:3vh;
    border-radius: 1000px;
    padding-left: 2vw;
    padding-right: 2vw;

    width:80%;

    color:white;
    margin-top: 1vw;

    animation: shrink;
    animation-duration: 300ms;

    font-size: calc(0.6vh + 0.6vw);
}

button:hover{
    width:100%;
    animation: expand;
    animation-duration: 300ms;
}

@keyframes expand{
    from {
        width:80%
    }
    to {
        width:100%
    }
}

@keyframes shrink{
    from {
        width:100%
    }
    to {
        width:80%
    }
}